<!-- MEAN stack landing page -->
<div class="mean-page">
    <!-- Navigation -->
    <div class="nav">
        <div class="container">
            <ul>
                <li><a href="#mongo">MongoDB</a></li>
                <li><a href="#express">ExpressJS</a></li>
                <li><a href="#angular">AngularJS</a></li>
                <li><a href="#node">Node.js</a></li>
            </ul>
        </div>
    </div> <!-- navigation -->

    <!-- main turquoise section -->
    <div class="main-turquoise">
        <h1>The "MEAN" Stack</h1>
        <p>From MongoDB to Node.js, here's why you should choose the MEAN stack for your next application</p>
        <img src="/images/img_totem.png"/>
    </div><!-- main turquoise -->

    <!-- gray section -->
    <div class="gray">
        <div class="arrow"></div>
        <p>Here's an inspirational quote for this section. Something along the lines of HTML, CSS, and Javascript for your entire app - yipee!!!!!</p>
    </div> <!-- gray -->

    <!-- bottom section -->
    <div class="totem-showcase">
        <a name="mongo" id="mongo"></a>
        <div class="mongo-section">
            <div class="container">
                <div class="content">
                    <img class="logo" src="/images/logo_mongo.png" width="143" height="41"/>
                    <p>MongoDB is the leading NoSQL database, empowering businesses to be more agile and scalable.</p>
                    <div class="links">
                        <a href="http://www.mongodb.org/downloads">Installation</a>
                        <p>     |     </p>
                        <a href="http://docs.mongodb.org/manual/">Documentation</a>
                    </div>
                </div>
            <img class="totem" src="/images/img_totem_mongo.png"/>
            </div>
        </div> <!-- mongo -->
        <a name="express" id="express"></a>
        <div class="express-section">
            <div class="container">
                <img class="totem" src="/images/img_totem_express.png"/>
                <div class="content">
                    <img class="logo" src="/images/logo_express.png" width="134" height="31"/>
                    <p>Express is a minimal and flexible node.js web application framework, providing a robust set of features for building single and multi-page, and hybrid web applications</p>
                    <div class="links">
                        <a href="http://expressjs.com/guide.html">Installation</a>
                        <p>     |     </p>
                        <a href="http://expressjs.com/4x/api.html">Documentation</a>
                    </div>
                </div>
            </div>
        </div> <!-- express -->
        <a name="angular" id="angular"></a>
        <div class="angular-section">
            <div class="container">
                <div class="content">
                    <img class="logo" src="/images/logo_angular.png" width="153" height="40"/>
                    <p>AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
                    <div class="links">
                        <a href="https://angularjs.org/">Installation</a>
                        <p>     |     </p>
                        <a href="https://docs.angularjs.org/api?PHPSESSID=cae8e98e7ca559b4605d75c813b358ee">Documentation</a>
                    </div>
                </div>
                <img class="totem" src="/images/img_totem_angular.png"/>
            </div>
        </div> <!-- angular -->
        <a class="node" id="node"></a>
        <div class="node-section">
            <div class="container">
                <div class="content">
                    <img class="logo" src="/images/logo_node.png" width="132" height="36"/>
                    <p>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications</p>
                    <div class="links">
                        <a href="http://nodejs.org/download/">Installation</a>
                        <p>     |     </p>
                        <a href="http://nodejs.org/api/index.html">Documentation</a>
                    </div>
                </div>
                <img class="totem" src="/images/img_totem_node.png"/>
            </div>
        </div> <!-- node -->
        <!-- Footer -->
        <div class="footer">
            <p>MEAN Stack | MEAN | Mongodb | Mongo | ExpressJS | Express | AngularJS | Angular | Node.js | Node | Mean.io | Mean.js | full-stack | development | full-stack-development | full stack development | sails | sails.js | javascript | html5 | css3 | JSON | single page | application</p>
        </div>
    </div> <!-- totem showcase -->

</div>  