.installation-page {
  // GENERAL PAGE STYLES
  background-color: @white;
  font-family: "proxima-nova",sans-serif;
  color: @txtDk;

  .container {
    width: 600px;
    margin: 25px auto;
  }

  h1 {
    font-size: 2em;
    text-align: center;
    padding: 50px 0 25px;
    font-weight: bold;
  }
  p {
    font-weight: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  .os-list {
    margin: 25px 0;
    width: 100%;
    text-align: center;

    li {
      display: inline-block;
      text-align: center;
      padding: 0px 7px;
      margin: 0 10px;
      &:hover {
        cursor: pointer;
        color: @txtLt;
        background-color: @turquoise;
        border-radius: 10px;
      }
    }
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 0 25px;
  }

  .blue-section {
    background-color: @ltGray;
    padding: 25px 0;
  }

  // code block styles
  .code {
    background-color: @gray;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    p {
      color: @white;
      font-family: 'Inconsolata', ;
      margin: 0px;
    }
  }



}